/* General styling */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Prevent overflow on body */
}

/* Container for the entire app */
.container {
  width: 100%;
  max-width: 1000px;
  background-color: #fff;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh; /* Full height */
  overflow-y: auto; /* Enable vertical scrolling */
}

/* Sticky logout button at the top */
.logout-button {
  /* position: sticky; */
  top: 0;
  left: 0;
  background-color: #007BFF;
  color: white;
  padding: 12px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  max-width: 200px;
  margin-bottom: 20px;
  margin-top: 80px;
  z-index: 100; /* Ensure it stays on top of other content */
}

.logout-button:hover {
  background-color: #0056b3;
}

/* Form input styling */
input {
  width: 100%;
  max-width: 500px;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

/* Button styling */
button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}

/* Header styling */
h2 {
  color: #333;
  margin-bottom: 20px;
}

/* Link text styling */
p {
  color: #666;
  margin-top: 15px;
}

p button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-size: 16px;
}

p button:hover {
  text-decoration: underline;
}

/* Stock list styling */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
}
.alert {
  padding: 10px;
  margin-top: 10px;
  color: white;
  background-color: red;  /* For danger alert */
  border-radius: 5px;
  text-align: center;
}
